
/* orange: #FF7C1C */
/* darkblue: #004A83 */
/* lightblue: #5F82AE */


div#titlearea {
	display:block;
	width:auto;
	padding:10px;
}

div#titlearea table tbody tr {
	height:auto !important;	
}

div#titlearea #projectlogo img {
	height:28px;	
	width:auto;
}

div#titlearea #projectname {
	font-size:18px;
	color:#555;
}

div.fragment {
	padding:8px;
}

h1.glow, h2.glow, h3.glow, h4.glow, h5.glow, h6.glow {
	text-shadow: 0 0 15px #FF7C1C;
}


/* Adjust footer
------------------------------------------------*/
body > hr {
	display:none;
}

body > small,
body > address {
	color:#aaa;
	position:absolute;
	right:10px;
	top:6px;
}

body > address {
	color:#ccc;
	top:22px;
}

body > address a {
	color:#aaa;
}


@media print
{
  #top { display: none; }
  #side-nav { display: none; }
  #nav-path { display: none; }
  body { overflow:visible; }
  h1, h2, h3, h4, h5, h6 { page-break-after: avoid; }
  .summary { display: none; }
  .memitem { page-break-inside: avoid; }
  #doc-content
  {
    margin-left:0 !important;
    height:auto !important;
    width:auto !important;
    overflow:inherit;
    display:inline;
  }
}

